@import url('house_header.css');

#container{}

#container .sub_visual{
    width: 100%;
}
#container .sub_visual figure{
    position: relative;
}
#container .sub_visual figure > p{}
#container .sub_visual figure > p img{}
#container .sub_visual figure figcaption{
    width: 38%;
    position: absolute;
    left: 20%; top: 50%;
    transform: translateY(-50%);
    /* border: 1px solid #f00; */
}
#container .sub_visual figure figcaption > p{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0.5em;
}
#container .sub_visual figure figcaption span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.875rem;
    line-height: 1.7;
    font-weight: 400;
}
#container .contant_guide{
    width: 78%;
    margin: 0 auto;
}
/* container nav */
#container .container_nav{
    padding: 2.125em;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
}
#container .container_nav h2{
    float: left;
}
#container .container_nav ul{
    float: right;
}
#container .container_nav ul li{
    display: inline-block;
    margin-left: 4.375em;
}

section{
    margin-top: 12.5em;
}

/* refrigerator design */
#container .refrigerator_design{
    margin-top: 5.625em;
    text-align: center;
    line-height: 2;
}
#container .refrigerator_design h3{
    font-size: 2.625rem;
}
#container .refrigerator_design .design_text{
    width: 70%;
    margin: 5em auto 0;
}
#container .refrigerator_design .design_text p{}

/* design_color */
#container .refrigerator_design .design_color{
    margin: 6em 0;
}
#container .refrigerator_design .design_color a:nth-of-type(1){
    margin-right: 6em;
}
#container .refrigerator_design .design_color a figure{}
#container .refrigerator_design .design_color a figure p{
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 2em;
}
#container .refrigerator_design .design_color a:hover figure p,
#container .refrigerator_design .design_color a.on figure p{
    border: 3px solid #ffff00;
    box-shadow: 5px 5px 20px 5px #ccc;
}
#container .refrigerator_design .design_color a figure p img{}
#container .refrigerator_design .design_color a figure figcaption{
    float: left;
} 
#container .refrigerator_design .design_color a figure figcaption small{
    display: block;
} 
#container .refrigerator_design .design_color a figure figcaption strong{}

/* design_img */
#container .refrigerator_design .design_img{
    width: 100%;
    position: relative;
}
#container .refrigerator_design .design_img .refrigerator_disign{
    width: 33%; height: 100%;
    margin: 0 auto;
    position: relative;
    display: none;
    overflow: hidden;
}
#container .refrigerator_design .design_img ul.on_block{
    display: block;
}
#container .refrigerator_design .design_img .refrigerator_disign li{
    width: 100%;
    position: absolute;
    left: 0; top: 0;
}
#container .refrigerator_design .design_img .refrigerator_disign li:nth-of-type(1){}
/* #container .refrigerator_design .design_img .refrigerator_disign > li:nth-of-type(2){
    left: 100%;
}
#container .refrigerator_design .design_img .refrigerator_disign > li:nth-of-type(3){
    left: 200%;
}
#container .refrigerator_design .design_img .refrigerator_disign > li:nth-of-type(4){
    left: 300%;
} */
#container .refrigerator_design .design_img .refrigerator_disign li p{}
#container .refrigerator_design .design_img .refrigerator_disign li img{
    /* height: 100%; */
}
#container .refrigerator_design .design_img .refrigerator_disign li .refrigerator_text{}
#container .refrigerator_design .design_img .refrigerator_disign li .refrigerator_text > li{}
#container .refrigerator_design .design_img .refrigerator_disign li .refrigerator_text > li figure{}
#container .refrigerator_design .design_img .refrigerator_disign li .refrigerator_text > li figure p{
    width: 11%;
}
#container .refrigerator_design .design_img .refrigerator_disign li .refrigerator_text > li figure p img{}
#container .refrigerator_design .design_img .refrigerator_disign li .refrigerator_text > li figure figcaption{}

/* design_move */
#container .refrigerator_design .design_move{
    width: 60%; height: 100%;
    position: absolute;
    left: 50%; top: 0;
    transform: translateX(-50%);
}
#container .refrigerator_design .design_move > p{
    width: 22px;
    position: absolute;
}
#container .refrigerator_design .design_move > p:nth-of-type(1){
    left: 0; top: 45%;
}
#container .refrigerator_design .design_move > p:nth-of-type(2){
    right: 0; top: 45%;
}
#container .refrigerator_design .design_move > p img{}

/* design_popup */
#container .refrigerator_design .design_popup{
    width: 32px;
    margin: 0 auto;
}
#container .refrigerator_design .design_popup img{}

/* design_select */
#container .refrigerator_design .design_select{}
#container .refrigerator_design .design_select span{
    width: 14px; height: 14px;
    border: 1px solid #333;
}