@import url('house_header.css');

#container{}

#container .sub_visual{
    width: 100%;
}
#container .sub_visual figure{
    position: relative;
}
#container .sub_visual figure > p{}
#container .sub_visual figure > p img{}
#container .sub_visual figure figcaption{
    width: 38%;
    position: absolute;
    left: 20%; top: 50%;
    transform: translateY(-50%);
}
#container .sub_visual figure figcaption > p{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0.5em;
}
#container .sub_visual figure figcaption span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.875rem;
    line-height: 1.7;
    font-weight: 400;
}
#container .contant_guide{
    width: 78%;
    margin: 0 auto;
}
/* container nav */
#container .container_nav{
    padding: 2.125em;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
}
#container .container_nav h2{
    float: left;
}
#container .container_nav ul{
    float: right;
}
#container .container_nav ul li{
    display: inline-block;
    margin-left: 4.375em;
}

#container section{
    margin-top: 12.5em;
}
#container h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 2.625rem;
    text-align: center;
}

/* refrigerator design */
#container .refrigerator_design{
    margin-top: 5.625em;
    text-align: center;
    line-height: 2;
}
#container .refrigerator_design .design_text{
    width: 70%;
    margin: 5em auto 0;
}
#container .refrigerator_design .design_text p{}

/* design_color */
#container .refrigerator_design .design_color{
    margin: 6em 0;
}
#container .refrigerator_design .design_color a:nth-of-type(1){
    margin-right: 6em;
}
#container .refrigerator_design .design_color a figure{}
#container .refrigerator_design .design_color a figure p{
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 2em;
}
#container .refrigerator_design .design_color a:hover figure p,
#container .refrigerator_design .design_color a.on figure p{
    border: 3px solid #ffff00;
    box-shadow: 5px 5px 20px 5px #ccc;
}
#container .refrigerator_design .design_color a figure p img{}
#container .refrigerator_design .design_color a figure figcaption{
    float: left;
} 
#container .refrigerator_design .design_color a figure figcaption small{
    display: block;
} 
#container .refrigerator_design .design_color a figure figcaption strong{}

/* design_img */
#container .refrigerator_design .design_img{
    width: 100%; height: 100%;
    position: relative;
}
#container .refrigerator_design .design_img .refrigerator_disign{
    width: 33%;
    margin: 0 auto;
    position: relative;
    display: none;
    overflow: hidden;
}
#container .refrigerator_design .design_img ul.on_block{
    display: block;
}
#container .refrigerator_design .design_img .refrigerator_disign li{
    width: 100%; height: 100%;
    position: absolute;
    left: 0; top: 0;
}
#container .refrigerator_design .design_img .refrigerator_disign li p{}
#container .refrigerator_design .design_img .refrigerator_disign li img{}
#container .refrigerator_design .design_img .refrigerator_disign li .refrigerator_text{}
#container .refrigerator_design .design_img .refrigerator_disign li .refrigerator_text > li{}
#container .refrigerator_design .design_img .refrigerator_disign li .refrigerator_text > li figure{}
#container .refrigerator_design .design_img .refrigerator_disign li .refrigerator_text > li figure p{
    width: 11%;
}
#container .refrigerator_design .design_img .refrigerator_disign li .refrigerator_text > li figure p img{}
#container .refrigerator_design .design_img .refrigerator_disign li .refrigerator_text > li figure figcaption{}

/* design_move */
#container .refrigerator_design .design_move{
    width: 60%; height: 100%;
    position: absolute;
    left: 50%; top: 0;
    transform: translateX(-50%);
}
#container .refrigerator_design .design_move > p{
    width: 22px;
    position: absolute;
    cursor: pointer;
}
#container .refrigerator_design .design_move > p:nth-of-type(1){
    left: 0; top: 35%;
}
#container .refrigerator_design .design_move > p:nth-of-type(2){
    right: 0; top: 35%;
}
#container .refrigerator_design .design_move > p img{}

/* design_popup */
#container .refrigerator_design .design_popup{
    width: 32px;
    margin: 2em auto 1em;
    position: relative;
    z-index: 10;
    cursor: pointer;
}
#container .refrigerator_design .design_popup img{}

/* design_select */
#container .refrigerator_design .design_select{}
#container .refrigerator_design .design_select button{
    width: 14px; height: 14px;
    border: 2px solid #333;
    background: #fff;
    margin: 0 3px;
    border-radius: 50%;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

/* skill_point */
#container .skill_point{
    text-align: center;
}
#container .skill_point > ul{}
#container .skill_point ul > li{}
#container .skill_point ul .point_01{
    margin-top: 5em;
}
#container .skill_point ul .point_01 > span{
    font-size: 1.375rem;
    font-weight: bold;
    border-bottom: 2px solid #333;
    margin-bottom: .7em;
}
#container .skill_point ul .point_01 > p{}
#container .skill_point ul .point_01 h4{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1em 0 4.17em;
}
#container .skill_point ul .point_01 > figure{}
#container .skill_point ul .point_01 figure > p{}
#container .skill_point ul .point_01 figure > p img{}
#container .skill_point ul .point_01 figure > figcaption{
    font-size: 0.875rem;
    line-height: 2em;
    margin: 5em 0 7.14em;
}

#container .skill_point ul .point_01 > ul{
    width: 100%;
    position: relative;
}
#container .skill_point ul .point_01 > ul li{
    width: 29%;
    position: absolute;
    top: 0;
}
#container .skill_point ul .point_01 > ul li:nth-of-type(1){
    left: 0;
}
#container .skill_point ul .point_01 > ul li:nth-of-type(2){
    left: 50%;
    transform: translateX(-50%);
}
#container .skill_point ul .point_01 > ul li:nth-of-type(3){
    right: 0;
}
#container .skill_point ul .point_01 > ul li > P{}
#container .skill_point ul .point_01 > ul li > P img{}
#container .skill_point ul .point_01 > ul li > figure{
    height: 380px;
    background: #f4f4f4;
}
#container .skill_point ul .point_01 > ul li figure > p{}
#container .skill_point ul .point_01 > ul li figure > p img{}
#container .skill_point ul .point_01 > ul li figure figcaption{}
#container .skill_point ul .point_01 > ul li figure figcaption small{}
#container .skill_point ul .point_01 > ul li figure figcaption strong{}
#container .skill_point ul .point_01 > ul li figure figcaption span{}
