/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #container .container_review fieldset .container_grid .review_grid{
        width: 100%;
        -ms-display: flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }
    #container .container_review fieldset .container_grid .review_grid li{
        width: 50%;
    }
    #container .container_review fieldset .container_grid .review_grid li:nth-of-type(3){
        position: absolute;
        left: 0; top: 25.3%;
        /* margin-left: 10px; */
    }
    #container .container_review fieldset .container_grid .review_grid li:nth-of-type(4),
    #container .container_review fieldset .container_grid .review_grid li:nth-of-type(5){
        margin-top: 15px;
    }
    #container .container_review fieldset .container_grid .review_grid li:nth-of-type(6){
        position: absolute;
        right: 0; bottom: 4px;
    }
}
